<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634220758335-j087k28illl11gei2mdqsbocp76sklck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634220758335-j087k28illl11gei2mdqsbocp76sklck</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>634220758335-8lmpdrnopph207gg43j0p86ga9k441sn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAus2rRMmu9FTirL8yap4y3p4pFgIbvApI</string>
	<key>GCM_SENDER_ID</key>
	<string>634220758335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.growthclub</string>
	<key>PROJECT_ID</key>
	<string>growthron-3f221</string>
	<key>STORAGE_BUCKET</key>
	<string>growthron-3f221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634220758335:ios:71ab7e34c87bb2f0083f8a</string>
	<key>DATABASE_URL</key>
	<string>https://growthron-3f221-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>